/*EXERCICIO 14*/ 
#pond {
    display: flex;
  }
  
  .yellow {
  order:2;
  } 

   /*EXERCICIO 15*/ 
   #pond {
    display: flex;
  }
  
  .red {
  order:-1;
  } 

   /*EXERCICIO 16*/ 
   #pond {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
  align-self:flex-end;
  } 

   /*EXERCICIO 17*/ 
   #pond {
    display: flex;
    align-items: flex-start;
  }
  
  .yellow {
  order:2;
  align-self:flex-end;
  } 

   /*EXERCICIO 18*/ 
   #pond {
    display: flex;
  flex-wrap:wrap;
  } 

   /*EXERCICIO 19*/ 
   #pond {
    display: flex;
  flex-direction:column-reverse;
  flex-wrap:wrap;
  } 

   /*EXERCICIO 20*/
   #pond {
    display: flex;
  flex-flow:column wrap;
  } 

   /*EXERCICIO 21*/
   #pond {
    display: flex;
    flex-wrap: wrap;
  align-content:flex-start;
  } 

   /*EXERCICIO 22*/
   #pond {
    display: flex;
    flex-wrap: wrap;
  align-content:flex-end;
  } 

   /*EXERCICIO 23*/
   #pond {
    display: flex;
    flex-wrap: wrap;
  flex-direction:column-reverse;
  align-content:center;
  } 

   /*EXERCICIO 24*/
   #pond {
    display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  align-content: space-between;
  justify-content: center;
  } 